@font-face {
  font-family: Bebas;
  src: url(../fonts/Bebas/BebasNeue-Regular.otf);
}

@font-face {
  font-family: Coco;
  src: url(../fonts/Coco/Cocogoose\ Pro-trial.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-wrapper {
  margin: 0 auto;
  max-width: 1480px;
  min-height: 400px;
  background-color: #f2f1ee;
}
